.success {
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    border-radius: 1rem;
    border: 1px solid transparent;
    background-color: green;
}

.error {
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    border-radius: 1rem;
    border: 1px solid transparent;
    background-color: red;

}
